{{ if .IsHome }}
  {{ if .Site.Params.homeTitle }}
    {{ $.Scratch.Set "title" .Site.Params.homeTitle }}
    {{ else }}
    {{ $.Scratch.Set "title" .Site.Title }}
  {{ end }}
  {{ else }}
  {{ $.Scratch.Set "title" .Title }}
{{ end }}

{{ $title := $.Scratch.Get "title" }}

<header>
  {{ partial "nav.html" . }}

  {{ if eq .Type "post" }}
  <div class="intro-header">
    <h1 class="{{ .Type }}-heading">
      {{ .Title }}
    </h1>
    {{ partial "postmeta.html" . }}
  </div>
  {{ end }}
</header>
